<h3>Structural Directives</h3>

<p>
	<button class="btn btn-sm btn-outline-primary" (click)="toggleDisplay()">
		Toggle Display (currently: {{ toDisplay }})
	</button>
</p>

<div *ngIf="toDisplay; else elseBlock">
	<p>Displayed if toDisplay is true</p>

<hr />
<h4>Raw code snippet (displayed as-is):</h4>
<pre><code>@for(num of lstNum; track $index; let idx=$index; let o = $odd)
{
	<p>{{(idx+1)}} {{(num)}} - {{(o)}}</p>
}
@empty
{
	<p>No elements in the list</p>
}
</code></pre>
</div>

<ng-template #elseBlock>
	<p>Displayed if toDisplay is false</p>
</ng-template>

<hr />

<p *ngIf="num < 100; else ge100"> 
	<strong>num value in component is less than 100</strong>
</p>
<ng-template #ge100>
	<p><strong>num value in component is 100 or greater</strong></p>
</ng-template>

<h4>List values:</h4>
<ul>
	<li *ngFor="let item of lstNum; let idx = index; let even = even">
		{{ idx }} - {{ item }} (even: {{ even }})
	</li>
</ul>

<hr />

<h3>Movie Display Design</h3>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Movie Title</th>
			<th>Movie ID</th>
			<th>Rating</th>
			<th>Release Date</th>
			<th>Genre</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let movie of movies">
			<td [ngStyle]="{'color' : 'brown', 'font-size': 'larger', 'font-weight': 'bold'}">{{ movie.movieTitle | uppercase }}</td>
			<td [ngStyle]="{'font-weight' : checkOddEven(movie.movieId)}">{{ movie.movieId }}</td>
			<td [ngStyle]="{'color' : movie.movieRating >= 4? 'green': 'red'}">{{ movie.movieRating | moveTypePipe : movie.genreId }}</td>
			<td>{{ movie.releaseDate | date:'fullDate' }}</td>
			<td>{{ getGenreCode(movie.genreId) }}</td>
			<td><button class="btn btn-sm btn-outline-primary" (click)="viewMovieDetails(movie.movieId)">View Details</button></td>
		</tr>
	</tbody>
</table>

<div appHighlightDirective>example of custom directive</div>

<div>Data from child: {{ dataFromChild }}</div>

<hr />

<app-movie-detail
  [dataFromparent]="HiMessage"
  [movieFromParent]="selectedMovie"
  (dataToParent)="getDataFromChild($event)">
</app-movie-detail>