<p>author-component works!</p>
<!-- 
<table class="table table-striped table-bordered">
	<thead>
		<tr>
            <th>Author ID</th>
			<th>Author Name</th>
            <th>Author Country</th>
		</tr>
	</thead>
	<tbody>
        <tr *ngFor="let author of Authors">
            <td>{{ author.authorId }}</td>
            <td>{{ author.name }}</td>
            <td>{{ author.country }}</td>
        </tr>
    </tbody>
</table> -->

<a routerLink="/add-author" class="btn btn-primary">Add Author</a>

@if(Authors$ | async; as Authors)
{
<table class="table table-striped table-bordered">
	<thead>
		<tr>
            <th>Author ID</th>
			<th>Author Name</th>
            <th>Author Country</th>
            <th>Actions</th>
		</tr>
	</thead>
	<tbody>
        <tr *ngFor="let author of Authors">
            <td>{{ author.authorId }}</td>
            <td>{{ author.name }}</td>
            <td>{{ author.country }}</td>
            <td><a routerLink="/edit-author" class="btn btn-sm btn-warning">Edit</a></td>
        </tr>
    </tbody>
</table>
}
@else
{
    <p>Loading authors...</p>
}